/* Font definition for the "Digital" font */
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"),
       url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"),
       url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"),
       url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"),
       url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
  padding-left: 220px;
}

#h2-element {
  font-family: 'Digital';
  font-size: 60px;
  color: #ff8c00; 
  margin: 0;
  padding: 20px 0;
}

#break-label, #session-label {
  color: #ff8c00;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Digital';
}

#break-decrement, #break-increment, #session-decrement, #session-increment {
  background: #ff8c00;
  color: #000;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#break-decrement, #break-increment {
  margin-right: -20px;
  font-family: 'Digital';
}

#session-decrement, #session-increment {
  margin-left: 20px;
  font-family: 'Digital';
}

#break-length, #session-length {
  font-family: 'Digital';
  font-size: 40px;
  color: #ff8c00; /* Timer number color */
}

#timer-label {
  color: #ff8c00;
  font-size: 24px;
  font-family: 'Digital';
}

#time-left {
  font-family: 'Digital';
  font-size: 80px;
  color: #ff8c00;
}

#start_stop, #reset {
  background: #ff8c00;
  font-family: 'Digital';
  color: #000;
  font-size: 24px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.audio {
  display: none;
}
